<template>
  <div class="home">
    <ProductListOne :products="getProducts"/>
    <ProductListTwo :products="getProducts"/>
    <button @click="triggerDeleteOne">Delete one</button>
  </div>
</template>

<script>
import ProductListOne from '../components/ProductListOne';
import ProductListTwo from '../components/ProductListTwo';
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'home',
  components: {
    ProductListOne,
    ProductListTwo
  },
  computed: mapGetters(['getProducts']),
  methods: mapActions(['triggerDeleteOne'])
};
</script>
