<template>
  <div>
    <h1>Welcome</h1>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex';
export default {
  /** In this hook this is not accesible, therefore we can't check
   * auth state here, not like this at least.
   */
  beforeRouteEnter(to, from, next) {
    // console.log(this.$store.getters.isLoggedIn);
    next();
  }
};
</script>
