<template>
  <header id="header">
    <div class="logo">
      <router-link to="/">Google Auth Demo</router-link>
    </div>
    <nav>
      <ul>
        <template v-if="!isLoggedIn">
          <li>
            <router-link to="/logged">Dashboard</router-link>
          </li>
          <li>
            <button class="logout" @click="onLogin">Login With google</button>
          </li>
        </template>
        <template v-else>
          <li>
            <router-link to="/logged">Dashboard</router-link>
          </li>
          <li>
            <button class="logout" @click="logout">Logout</button>
          </li>
        </template>
      </ul>
    </nav>
  </header>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import axios from 'axios';

export default {
  computed: mapGetters(['isLoggedIn']),
  methods: {
    ...mapActions(['logout', 'login', 'googleLogin']),
    onLogin() {
      this.$gAuth
        .getAuthCode()
        .then(authCode => {
          return axios.post(`http://localhost:3000/auth/google/redirect`, {
            code: authCode
          });
        })
        .then(response => console.log(response))
        .catch(e => console.log(e));
    }
  }
};
</script>


<style scoped>
#header {
  height: 56px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: #521751;
  padding: 0 20px;
}

.logo {
  font-weight: bold;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
}

nav {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

li {
  margin: 0 16px;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover,
li a:active,
li a.router-link-active {
  color: #fa923f;
}

.logout {
  background-color: transparent;
  border: none;
  font: inherit;
  color: white;
  cursor: pointer;
}
</style>